@model BusinessLogic.Models.IngredientComponents.BottomModel

@{
    ViewBag.Title = "BottomDetails";
}

<h2>BottomDetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surface)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surface)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thick)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ManageBottoms")
</p>
