
@{
    ViewBag.Title = "ManagerChooser";
}

<h2>ManagerChooser</h2>

<body>
	<ul>
		<li>@Html.ActionLink("Pizzas", "ManagePizzas", "Manager")</li>
		<li>@Html.ActionLink("Ingredients", "ManageIngredients", "Manager")</li>
		<li>@Html.ActionLink("Bottoms", "ManageBottoms", "Manager")</li>
		<li>@Html.ActionLink("Sauces", "ManageSauces", "Manager")</li>
		<li>@Html.ActionLink("Users", "ManageUsers", "ManageUser")</li>
	</ul>
</body>

